# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Django
*.sqlite3
*.log
staticfiles/

# Environment variables
.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.venv/

# Django
*.sqlite3
*.log
staticfiles/

# Environment variables
.env

# Node
node_modules/
frontend/dist/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
